body {
    box-sizing: border-box;
    margin: 0;
    padding: 3vh 2vw;
    /* width: 100vw; */
    height: 100vh;
    background-image: url('./images/black_1.jpg');
    background-size: cover;
    font-family: 'Underdog', cursive;
    line-height: 1.8;
}

a:link {
    text-decoration: none;
}

.main-div {
    position: relative;
    margin: 0 auto;
    border-radius: 15px;
    height: 100%;
    max-width: 1000px;
    overflow: hidden;
}

#wrapper-content {
    position: relative;
    margin: 1% auto;
    width: 100%;
    height: 97%;
    background-image: url('./images/light_paper.jpg');
    overflow: auto;
}

fieldset {
    background-color: rgba(0, 0, 0, 0);
}

.content {
    margin: 1%;
    padding: 1% 12%;
}

#header {
    display: inline-block;
}

#close {
    cursor: pointer;
}

#left-panel,
#right-panel {
    position: absolute;
    top: 0px;
    height: 100%;
    background-image: url('./images/dark_paper.jpg');
}

#left-panel {
    left: 0;
    width: 10%;
    box-shadow: 6px 0px 10px rgb(59, 39, 19);
}

#right-panel {
    right: 0;
    width: 88%;
    box-shadow: -6px 0px 10px rgb(59, 39, 19);
    transition: 1s;
}

/* Gradients */
.left-panel-gradient,
.right-panel-gradient {
    position: absolute;
    top: 0px;
    width: 5%;
    height: 100%;
}

.left-panel-gradient {
    left: 0px;
    background: -o-linear-gradient(right, rgba(77, 51, 25, 1) 0%, rgba(154, 102, 50, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(77, 51, 25, 1) 0%, rgba(154, 102, 50, 0) 100%);
    background: linear-gradient(to right, rgba(77, 51, 25, 1) 0%, rgba(221, 123, 25, 0) 100%);

}

.right-panel-gradient {
    right: 0px;
    background: -o-linear-gradient(right, rgba(77, 51, 25, 1) 0%, rgba(154, 102, 50, 0) 100%);
    background: -webkit-linear-gradient(right, rgba(77, 51, 25, 1) 0%, rgba(154, 102, 50, 0) 100%);
    background: linear-gradient(to left, rgba(77, 51, 25, 1) 0%, rgba(154, 102, 50, 0) 100%);
}

/* My image and info */
.myimg-info {
    position: absolute;
    padding: 0 3%;
    width: 94%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.myimg-info img {
    width: 80%;
    height: auto;
}

.short-info {
    position: absolute;
    left: 53%;
    bottom: 10%;
}

/* Labels */
#holder-labels {
    position: absolute;
    margin-top: 3%;
    width: 130px;
    top: 0px;
    left: -60px;
}

.label {
    margin: 10% 0%;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.8);
    background-image: url('./images/pin_right.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 40px auto;
    box-shadow: 3px 3px 8px #000;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

/* Content-info */
.empty-bar {
    border-radius: 10px;
    width: 60%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

.percent-bar {
    width: 100%;
    background-color: rgb(109, 173, 56);
    text-align: center;
    font-size: 12px;
}

@media (orientation: portrait) and (max-width: 700px) {
    .myimg-info img {
        position: relative;
        left: 10%;
        width: 90%;
    }

    .short-info {
        position: relative;
        left: 0%;
        bottom: 0%;
    }

    .label {
        font-size: 16px;
    }
}


@media (orientation: landscape) and (max-height: 726px) {
    .myimg-info img {
        position: relative;
        left: 20%;
        width: 50%;
    }

    .short-info {
        bottom: 3%;
    }
}