html, body{
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-image: url('images/black_1.jpg');
    background-size: cover;
    font-family: 'Underdog', cursive;
    line-height: 1.8;
}

.main-div{
    margin: 0 auto;
    padding: 0 1%;
    position: relative;
    height: 94%;
    top: 3%;
    max-width: 1000px;
    overflow: hidden;
    background-color: rgb(137, 60, 60);
    border-radius: 15px;
}

#content{
    margin: 1% auto;
    position: relative;
    width: 100%;
    height: 97%;
    background-image: url('images/light_paper.jpg');
    overflow: auto;
}

#left-panel, #right-panel{
    position: absolute;
    top: 0px;
    height: 100%;
    background-image: url('images/dark_paper.jpg');
}

#left-panel{
    left: 0;
    width: 10%;
}

#right-panel{
    right: 0;
    width: 88%;
}